<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/yue.css" type="text/css">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    {% if analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ analytics }}', '{{ site_url.strip("http://").split(".")[-2] + "." + site_url.strip("http://").split(".")[-1] }}');
            ga('send', 'pageview');
        </script>
    {% endif %}
</head>

<body>
<div class="wrapper yue">
    <header>
        <h1 class="name center"><a href="{{ site_url }}">{{ site_name }}</a></h1>
        <nav class="center nav">
             {% for page in pages if page.type == "page" %}
             <a href="/{{ page.link }}">{{ page.title }}</a>
             {% endfor %}
        </nav>
    </header>
    <div class="container" ng-view>
        {% block content %}
        {% endblock %}
    </div>
        {% block linker %}
        {% endblock %}
    <footer class="center">
        Powered by <a href="https://github.com/JmPotato/Aam">Aam</a> &
        Theme <a href="https://github.com/whtsky/catsup-theme-clean">Clean</a> by
        <a href="http://whouz.com">whtsky</a> and modified by
        <a href="http://ricter.me">Ricter</a> and <a href="http://ipotato.me">JmPotato</a>
    </footer>
</div>
</body>
</html>